<html>
<head>
	<title>GroupReads</title>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<!--- Added Bootstrap -->
	<link href="/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/library-home.css" rel="stylesheet">

</head>

<body>
	<div class="phone">
		<div class = "row">
			{{#each classname}}
			<div class="column">
				<button class="class-card"><div>
				<p class="class-card.cont">{{class}}</p>
			</div></button>
			</div>
			{{/each}}
		</div>


	</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
